body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    margin: 0;
}
header{
    background-color: pink;
}

header h1{ 
    margin: 0;
}

nav{ 
    display: none;
    
}
 
.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }

.card{ 
    border: thin solid rgb(0, 0, 0);
    box-shadow: 3px 3px 3px  ;
    width: 500px;
}
.card figure{
    margin: 0;
}

.card img { 
    width: 100%;
}