body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    margin: 0;
}
header{
    background-color: pink;
}

header h1{ 
    margin: 0;
}

nav{ 
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
}
 
.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav a {
    display: block;
    padding: 10px;
    background-color: rgb(228, 228, 228);
    color: black;
    text-decoration: dashed;
}

nav a:hover {
    text-decoration: underline;
    color: blue;
    background-color: white;
}
.card{ 
    border: thin solid rgb(0, 0, 0);
    box-shadow: 3px 3px 3px  ;
    width: 500px;
}
.card figure{
    margin: 0;
}

.card img { 
    width: 100%;
}
@media ONLY screen AND ( max-width: 1500px) {
    .row {
        flex-direction: column;
        align-items: center;
    }
    .card{
        margin-bottom: 20px;
    }
    .feature{
        order: -1;
    }
}

@media ONLY screen AND ( max-width: 600px) { 
    header{ 
        background-color: aquamarine;
    }
    nav{
        flex-direction: column;
    }

    nav a {
        border-bottom: thin solid rgb(15, 15, 15);
    }
    .card{ 
        margin-bottom: 20px;
    }

}