body{
    font-family: Arial, Helvetica, sans-serif; background-color: beige;
     }
    
     footer p {
        color: blueviolet;
     }
    
    .red {color:red;}
    
    
    #firstpar {color: blue;}
    
    
    .blue { color: blue;}
    
    .bigger { font-size: 18pt;}
    
    
    .itallic { font-style: italic;}