body{ font-family: Arial, Helvetica, sans-serif; background-color: firebrick;
     color: black  }


.clear { 
    clear: both;
}


#wrapper
{ 
    background-color: bisque;
    width: 1200px;
    margin: auto;
    height: 900px;
    margin:auto;
    border: thin solid;
    border-radius: 20px;
}

nav a { display: block; padding: 5px 10px; background-color: goldenrod;color:beige ;
  text-decoration: none; margin-right: 50px; float: left;}


nav a:hover {  color: goldenrod; background-color: beige; text-decoration: underline;}  